[Unit]
Description=Omaya Workspace Service
After=network.target mariadb.service redis.service mosquitto.service

[Service]
Type=forking

WorkingDirectory=/var/www/omaya/system/daemon

ExecStart=/usr/bin/env php /var/www/omaya/system/daemon/omaya_workspace_service.php
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -USR1 $MAINPID

Restart=always
RestartSec=15

PIDFile=/run/omaya-workspace-service.pid

[Install]
WantedBy=multi-user.target
