[Unit]
Description=Omaya Extract
After=network.target mariadb.service redis.service mosquitto.service

[Service]
Type=simple

WorkingDirectory=/var/www/omaya/system/daemon

ExecStart=/usr/bin/env php /var/www/omaya/system/daemon/omaya_extract.php
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -USR1 $MAINPID

Restart=always
RestartSec=15

PIDFile=/run/omaya-extract.pid

[Install]
WantedBy=multi-user.target